<h1>About</h1>
<p>An app to share your stories with the world.</p>
<p>Make your stories public and share them with the world.</p>
<p>You can also keep your stories private as your own personal diary.</p>
<p>Your Google account is used for authentication and profile creation.</p>
<p>Hope you enjoy the platform.</p>