<h1>Welcome</h1>
<p>Welcome to Story-share</p>
<p>Here you can share your stories with the world or keep them private as your personal diary</p>
<a class='btn red darken-1' href="/auth/google"><i class="fa fa-google left"></i> Login with Google</a>